# yaml-language-server: $schema=../vendor/symfony/dependency-injection/Loader/schema/services.schema.json

# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.
# See also https://symfony.com/doc/current/service_container/import.html

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.
    _instanceof:
        App\Shared\Domain\Bus\Query\QueryHandler:
            tags:
                - { name: 'messenger.message_handler', bus: 'query.bus' }
                - { name: 'app.query_handler' }

        App\Shared\Domain\Bus\Command\CommandHandler:
            tags:
                - { name: 'messenger.message_handler', bus: 'command.bus' }
                - { name: 'app.command_handler' }
    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones
    App\Shared\Infrastructure\Bus\Command\InMemoryCommandBus:
        arguments: [ !tagged_iterator app.command_handler ]
    App\Shared\Infrastructure\Bus\Query\InMemoryQueryBus:
        arguments: [ !tagged_iterator app.query_handler ]
