name: CI-CD

on:
  push:
    branches: [ 'main' ]
  pull_request:

jobs:
  backend-tests:
    name: Backend - Tests & Coverage
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: backend
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          extensions: pdo_mysql, intl, zip, opcache
          coverage: xdebug

      - name: Install Composer deps
        run: composer install --no-interaction --prefer-dist

      - name: Validate composer.json
        run: composer validate --strict

      - name: Run PHPUnit with coverage
        run: |
            XDEBUG_MODE=coverage ./vendor/bin/phpunit \
              --coverage-html coverage