name: CI-CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  backend-tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php-version: [ '8.2', '8.3', '8.4' ]

    services:
      mysql:
        image: mariadb:10.6
        env:
          MYSQL_ROOT_PASSWORD: password
          MYSQL_DATABASE: symfony_test
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          extensions: ctype, iconv, pdo, pdo_mysql
          coverage: xdebug
          tools: composer:v2

      - name: Get composer cache directory
        id: composer-cache
        working-directory: ./backend
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT
